
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-header">
  <img class="navbar-brand logo" src="../../../assets/img/Header.png">
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" routerLink=""> HOME </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="about"> ABOUT </a></li>
        <li class="nav-item"><a class="nav-link" routerLink="portfolio"> PORTFOLIO </a></li>
        <li class="nav-item"><a class="nav-link" id="contact" routerLink="contact"> CONTACT </a></li>
        <li class="nav-item"><div class="icon-wrap"><i class="flip-h fa-lg fa fa-phone"></i>
          <div class="text-wrap">
            Phone:+877479954897
          </div>
          </div></li>
    </ul>

  </div>
</nav>
