

<!---<footer class="section-footer bg-footer">
    <div class="container">
      <section class="footer-bottom row">
        <div class="col-sm-12 col-lg-12">

          <p class="text-center">Have a great idea need our help?</p>
        </div>


      </section>
    </div>

  </footer>-->
  <footer class="section-footer bg-footer">
      <div class="container">
        <section class="footer-bottom row">
          <div class="col-lg-12">
            <p class="text-center"> Have a great idea need our help?</p>
          </div>
          <div class="col-lg-12">
            <p class="text-center">
                <span class="fa-stack fa-lg">
                    <a href="https://www.linkedin.com/in/jahaziel-vazquez/" id="twitter"><i class="fa fa-twitter fa-stack-1x"></i></a>
                </span>
                  <span class="fa-stack fa-lg">
                      <a href="https://www.linkedin.com/in/jahaziel-vazquez/" id="facebook"><i class="fa fa-facebook fa-stack-1x"></i></a>
                  </span>
                    <span class="fa-stack fa-lg">
                        <a href="https://www.linkedin.com/in/jahaziel-vazquez/" id="linkedin"><i class="fa fa-linkedin fa-stack-1x"></i></a>
                    </span>
            </p>
          </div>
        </section>
      </div>
    </footer>
