<!--<div class="d-flex flex-row">

            <a routerLink="/market"><div class="d-flex"><img  class="d-flex justify-content-lg-end" src="../../assets/icons/newIcons/brain-storm.png" width=20% height=30%></div></a>

            <a routerLink="/react"><div class=" d-flex"><img  class="d-flex justify-content-lg-end" src="../../assets/icons/newIcons/idea.png" width=20% height=30%></div></a>


              <a routerLink="/userExp"><div class="d-flex"><img  class="d-flex justify-content-lg-end" src="../../assets/icons/newIcons/head.png" width=20% height=30%></div></a>

                <a routerLink="/backend"><div class="d-flex"><img  class="d-flex justify-content-lg-end" src="../../assets/icons/newIcons/web-design.png" width=20% height=30%></div></a>


  </div>-->
  <div class="d-flex justify-content-end bg">
      <div class="p-2"> <a routerLink="/market"><img   src="../../assets/icons/newIcons/brain-storm.png" width=60px height=60px></a></div>
      <div class="p-2"> <a routerLink="/react"><img   src="../../assets/icons/newIcons/idea.png" width=60px height=60px></a></div>
      <div class="p-2"> <a routerLink="/userExp"><img  src="../../assets/icons/newIcons/head.png" width=60px height=60px></a></div>
      <div class="p-2"> <a routerLink="/backend"><img  src="../../assets/icons/newIcons/web-design.png" width=60px height=60px></a></div>

    </div>
 