<section class="section-intro bg  text-center">
    <div class="container d-flex flex-column" style="min-height:80vh;">
        <div class="col-xl-9 col-md-9 col-lg-9 col-sm-12 text-left ml-auto">
            <h1 class="display-10 mb-8 hline-bottom wow fadeInRight" data-wow-delay="0.3s" data-wow-duration="1.5s">About</h1>
        </div>
        <div class="row">

            <div class="col-md-9 col-xl-9 col-lg-9 col-sm-12  ml-auto p-5">
                <h5>Mission</h5>
                <p class="hero-text">
                    To help businesses thrive in an ever-evolving competitive market, through dynamic cutting edge
                    technologies, and strategies, at affordable rates.
                </p>
                <h5>Vision</h5>
                <p class="hero-text">To help businesses thrive in an ever-evolving competitive market, through dynamic
                    cutting edge technologies, and strategies, at affordable rates. </p>
                <h5>Values</h5>
                <p class="hero-text">
                    <strong>Make a lasting difference</strong>- Your work is your legacy to the world. Therefore only
                    do great work <br>
                    <strong>There’s no substitute for transparency </strong>- Honesty is the one true key to lasting
                    trust, trust is the foundation of all great alliances.<br>
                    <strong>Speak your mind </strong>- Say what you mean, mean what you say.<br>
                    <strong>Be the expert </strong>- Specialization is the sign of the master, for it can only be
                    achieved through focused, and diligent training.<br>
                    <strong>Be unstoppable </strong>- Let fear tremble before your resolve.<br>
                    <strong>Innovation is the antidote to stagnation.<br></strong>


                </p>

                <div class="container-2 wow flipInX" data-wow-delay="0.3s" data-wow-duration="1.5s">
                    <div class="btn btn-two">
                        <a routerLink="/contact"><span id="contact">Request Free Estimate </span></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>