/*Heading*/
.section-intro{
  padding-bottom:10%;
}
.container{
  margin-right:0px;
  width:100%;
  height:100%;
  margin-top:50px;
  padding:0;

}
.hero-text{
  color:rgb(0, 98, 204);
  text-align: justify;
  line-height: 2rem;
  padding:1%;
  padding-bottom: 4%;
}
/*Background*/
.bg{
  background: #fff url("/assets/img/sectionbg.png")no-repeat top right;
  background-size:cover;
  border-bottom: 3px solid rgb(51, 152, 255);
  margin-top:20px;
  padding-top:20px;

}
h1,h5{
  font-weight: bold;
  font-family: 'Oswald','sans-serif';
  text-align: left;
}

.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 98, 204); 
}
 
