<section class="section-intro bg ">
    <div class="container d-flex flex-column"  style="min-height:80vh;">
      <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ml-auto">
        <h2 class="h2 mb5 wow fadeInRight animateSecond" data-wow-delay="0.3s" data-wow-duration="1.5s"><h1 class="display-10 mb-5 hline-bottom">
          Explore New Opportunities</h1></h2>
        <h3 class="h3-home mb5 wow fadeInRight animateSecond" data-wow-delay="0.9s" data-wow-duration="1.5s">Find out how we help you navigate your next step</h3>
        <div class="row">
          <div class="eq-height">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto wow fadeInUp animateThird" data-wow-delay="1.5s" data-wow-duration="1.5s">
              <div class="eqh-box"><a href="" title="Work"> <img src="/assets/img/Team.jpg" alt="Work" class="img-responsive">
                <div class="box-cnt">
                  <h3 class="eq-ht-title">Work</h3>
                </div>
                </a> </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto wow fadeInUp animateThird" data-wow-delay="1.5s" data-wow-duration="1.5s">
                <div class="eqh-box"><a routerLink="/about" title="about"> <img src="/assets/img/office.jpeg" alt="about" class="img-responsive">
                  <div class="box-cnt">
                    <h3 class="eq-ht-title">About Us</h3>
                  </div>
                  </a> </div>
              </div>
              <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto wow fadeInUp animateThird" data-wow-delay="1.5s" data-wow-duration="1.5s">
                  <div class="eqh-box"><a routerLink="/team" title="about"> <img src="/assets/img/MeetTeam.jpeg" alt="about" class="img-responsive">
                    <div class="box-cnt">
                      <h3 class="eq-ht-title">Meet The Team</h3>
                    </div>
                    </a> </div>
                </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>