<section class="section-intro bg  text-center">
    <div class="container d-flex flex-column"  style="min-height:80vh;">
            <div class="col-lg-8 col-sm-12 text-left ml-auto">
                <h1 class="display-10 mb-8 hline-bottom wow fadeInRight" data-wow-delay="0.3s" data-wow-duration="1.5s">UX/UI Design</h1>

        </div>
    <div class="row">
    <div class="col-lg-8 col-sm-12 text-left ml-auto">
        <p class="hero-text">A UX designer will consider the Why, What and How of product use. The Why involves the users’ motivations for adopting a product, whether they relate to it, or to the values and views associated with the ownership and use of the product. The What addresses the things people can do with a product - its functionality. The How relates to the design of functionality in an accessible and aesthetically pleasant way.
                UX designers start with the Why before determining the What and then, finally, the How in order to create products that users can form meaningful experiences with. In software designs, designers must ensure the product’s substance comes through an existing device and offers a seamless, fluid experience.</p>
                <div class="container-2 wow flipInX text-center" data-wow-delay="0.3s" data-wow-duration="1.5s">
                    <div class="btn btn-two">
                      <a routerLink="/contact"><span id="contact">Request Free Estimate </span></a>
                    </div>
            </div>
    </div>
  </div>

    </div>
    </section>
