/*Heading*/
.container{
  margin-right:0px;
  width:100%;
  height:100%;
  margin-top:50px;
  padding:0;
}
h1{
  font-weight: bold;
  font-family: 'Oswald','sans-serif';
  padding-bottom: 5%;
}/*background*/
.bg{
  background: #fff url("/assets/img/sectionbg.png")no-repeat top right;
  background-size:cover;
  border-bottom: 3px solid rgb(51, 152, 255);
  margin-top:40px;
  padding-top:40px;
}
.hero-text{
  color:rgb(0, 98, 204);
  text-align: justify;
  line-height: 2rem;
  padding: 5px;
}

.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 98, 204); /* whichever color you prefer */
}

h1,p{
  animation: chainReaction 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}
/*Animation*/
@keyframes chainReaction {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1{
  animation-delay: .3s;
};
p{
  animation-delay: 1s;
};
#company_contact{
  font-weight: bolder;

}
.padding-y{
  margin-top:32px;
  margin-bottom:32px;
}
/*Media query*/
@media only screen and (max-width: 700px){
  .section-intro {
    padding-bottom:20%;
  }
}