<section class="section-intro bg  text-center">
  <div class="container d-flex flex-column"  style="min-height:80vh;">
      <div class="col-xl-9 col-md-9 col-lg-9 col-sm-12 text-left ml-auto">
          <h1 class="display-10 mb-8 hline-bottom">Contact</h1>
      </div>
  <div class="row">
  <div class="col-lg-9 col-sm-12 col-xl-9 col-md-9 text-left ml-auto no-padding">
      <p class="hero-text">Need to get in touch with us?Please feel free to use any of our fancy interstellar communications listed below and let us know how we can help you.<br/></p>
       <h4 class="col-xl-8 col-md-8 col-lg-8 col-sm-12 mx-auto"> Phone:908.546.0561</h4>
      <h4 class="col-lg-8 col-sm-12 col-xl-8 col-md-8 mx-auto">Email:office@imaginetech.net</h4>

   <form class="col-lg-8 col-sm-12 mx-auto padding-y">
      <div class="form-group">
          <label >FirstName</label>
          <input type="text" class="form-control" placeholder="FirstName">
        </div>
        <div class="form-group">
            <label >LastName</label>
            <input type="text" class="form-control" placeholder="LastName">
          </div>
          <div class="form-group">
              <label >Company</label>
              <input type="text" class="form-control" placeholder="Company">
            </div>
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="phone" class="form-control" placeholder="Phone">
    </div>

    <button type="submit" class="btn btn-primary">Thank You</button>
    </form>
  </div>
</div>
</div>


  </section>
