<section class="section-intro bg  text-center">
  <div class="container d-flex flex-column"  style="min-height:80vh;">
      <div class="col-lg-8 col-sm-12 text-left mx-auto">
          <h1 class="display-4 mb-3 hline-bottom">Contact</h1>
      </div>
  <div class="row">
  <div class="col-lg-8 col-sm-12 text-left mx-auto">
      <p class="hero-text">Need to get in touch with us?Please feel free to use any of our fancy interstellar communications listed below and let us know how we can help you.<br/></p>
       <h4 class="col-lg-8 col-sm-12 mx-auto"> Phone:801-555-555</h4>
      <h4 class="col-lg-8 col-sm-12 mx-auto">Email: Help@imaginetech.io</h4>

   <form class="col-lg-8 col-sm-12 mx-auto padding-y">
    <div class="form-group">
      <label >Email address</label>
      <input type="email" class="form-control" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label>Phone</label>
      <input type="phone" class="form-control" placeholder="Phone">
    </div>
    <button type="submit" class="btn btn-primary">Thank You</button>
    </form>
  </div>
</div>
</div>


  </section>
