<!--<img id="myImg" src="../../assets/img/dog.jpeg" alt="Snow" (click)="getImg('myImg')" style="width:100%;max-width:300px">

<div id="myModal" class="modal">
  <span class="close" (click)="closeImg()">close</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
<img id="mySnow" src="../../assets/img/dish.jpg" alt="Snow" (click)="getImg('mySnow')" style="width:100%;max-width:300px">

  <img class="modal-content" id="img01">
  <div id="caption"></div>
<img id="myPin" src="../../assets/img/cms.jpg" alt="Snow" (click)="getImg('myPin')" style="width:100%;max-width:300px">

  <img class="modal-content" id="img01">
  <div id="caption"></div>-->

  <section class="section-intro bg  text-center">
      <div class="container d-flex flex-column" style="min-height:80vh;">
          <div class="col-lg-8 col-sm-12 text-left mx-auto">
              <h1 class="display-10 mb-5 hline-bottom">Portfolio</h1>
          </div>
          <div class="row">
               <div class="col-md-3 col-lg-4 col-sm-6 mx-auto">
                 <figure class="card card-product">
                        <div class="img img-wrap"><img id="myImg" src="../../assets/img/AngularDesign.jpg" alt="Snow" (click)="getImg('myImg')" style="width:100%;max-width:300px"></div>
                          <div id="myModal" class="modal">
                              <span class="close" (click)="closeImg()">close</span>
                                <img class="modal-content" id="img01">
                                <div id="caption"></div>
                            </div>
                            <figcaption class="info-wrap">
                                <a href="#" class="title">AngularDesign</a>
                    
                              </figcaption>
                
                    </figure>
               </div>
               <div class="col-md-3 col-lg-4 col-sm-6 mx-auto">

                  <figure class="card card-product">
                      <div class="img img-wrap"><img id="mySnow" src="../../assets/img/splashpage.png" alt="Snow" (click)="getImg('mySnow')" style="width:100%;max-width:300px"></div>
                          <div id="myModal" class="modal">
                              <span class="close" (click)="closeImg()">close</span>
                         <img class="modal-content" id="img01">
                          <div id="caption"></div>
                          </div>
                          <figcaption class="info-wrap">
                              <a href="#" class="title">Kupido</a>
                  
                            </figcaption>
                  </figure>
               </div>
              <div class="col-md-3 col-lg-4 col-sm-6 mx-auto">      
                  <figure class="card card-product">
        
                         <div class="img img-wrap"> <img id="myPin" src="../../assets/img/truck.png" alt="Snow" (click)="getImg('myPin')" style="width:100%;max-width:300px"></div>
                          <div id="myModal" class="modal">
                              <span class="close" (click)="closeImg()">close</span>
                          <img class="modal-content" id="img01">
                          <div id="caption"></div>
                          </div>
                          <figcaption class="info-wrap">
                              <a href="#" class="title">UnitedTruck</a>
                  
                            </figcaption>
                </figure>
                </div>
                </div>
                </div>
  </section>
    