<section class="section-intro bg  text-center">
    <div class="container d-flex flex-column" style="min-height:80vh;">
        <div class="col-lg-8 col-sm-12 text-left mr-auto" id="container-padding">
            <h1 class="display-10 mb-8 hline-bottom wow fadeInRight" data-wow-delay="0.3s" data-wow-duration="1.5s">Portfolio</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">
                <figure class="card card-product">
                    <div class="img img-wrap"><img id="cliph" src="/assets/img/cilph.png" alt="Cliph"
                            (click)="getImg('cliph')" style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close pull-right" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Cliph</a>

                    </figcaption>

                </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">
                <figure class="card card-product">
                    <div class="img img-wrap"><img id="ignite" src="/assets/img/ignite-and-flourish.png" alt="ignite-and-flourish"
                            (click)="getImg('ignite')" style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close pull-right" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Ignite-and-Flourish</a>

                    </figcaption>

                </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">
                <figure class="card card-product">
                    <div class="img img-wrap"><img id="kupidoware" src="/assets/img/kupidowarehouse.png" alt="kupidowarehouse"
                            (click)="getImg('kupidoware')" style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close pull-right" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">KupidoWarehouse</a>

                    </figcaption>

                </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">
                <figure class="card card-product">
                    <div class="img img-wrap"><img id="water" src="/assets/img/water.png" alt="water"
                            (click)="getImg('water')" style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close pull-right" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Water</a>

                    </figcaption>

                </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">

                <figure class="card card-product">
                    <div class="img img-wrap"><img id="kupido" src="/assets/img/splashpage.png" alt="Kupido" (click)="getImg('kupido')"
                            style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Kupido</a>

                    </figcaption>
                </figure>
            </div>
            <div class="col-md-6 col-lg-4 col-sm-6 mx-auto">
                <figure class="card card-product">

                    <div class="img img-wrap"> <img id="truck" src="/assets/img/truck.png" alt="Trucking Service"
                            (click)="getImg('truck')" style="width:100%;max-width:300px"></div>
                    <div id="img-modal" class="modal">
                        <span class="close" (click)="closeImg()">X</span>
                        <img class="modal-content" id="img01">
                        <div id="caption"></div>
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">UnitedTruck</a>

                    </figcaption>
                </figure>

            </div>


        </div>
        <div class="container-2 wow flipInX" data-wow-delay="0.3s" data-wow-duration="1.5s">
            <div class="btn btn-two">
                <a routerLink="/contact"><span id="contact">Request Free Estimate </span></a>
            </div>
        </div>
    </div>
</section>