.container{
  margin-right:0px;
  width:100%;
  height:100%;
  margin-top:50px;
}
h1{
  font-weight: bold;
  font-family: 'Oswald','sans-serif';
  padding-bottom: 5%;
}
.bg{
  background: #fff url("/assets/img/sectionbg.png")no-repeat top right;
  background-size:cover;
  border-bottom: 3px solid rgb(51, 152, 255);
  margin-top:20px;
  padding-top:20px;

}

.hero-text{
  color:rgb(0, 98, 204);
  text-align: justify;
  line-height: 2rem;
}


.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 98, 204); /* whichever color you prefer */
}

h1,p{
  animation: chainReaction 3s;
  opacity: 0;
  animation-fill-mode: forwards;
}

@keyframes chainReaction {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1{
  animation-delay: .3s;
};
p{
  animation-delay: 1s;
};


