<section class="section-intro text-center">
  <div class="container-fluid d-flex flex-column" style="min-height:50vh;">
    <div class="row">
      <img src="/assets/img/Background.png" id="backgroundimage">
      <h1 class="display-7 mb-6  col-xl-12 col-lg-12 col-md-12 col-sm-12 text-center">
        <span style="color:rgb(0,65,153)" class="wow bounceInLeft" data-wow-delay="0.3s" data-wow-duration="1.5s">Imagine.</span>
        <span style="color:rgb(26,108,204)" class="wow bounceInBottom" data-wow-delay="0.3s" data-wow-duration="1.5s">Believe.</span>
        <span style="color:rgb(51,152,255)" class="wow bounceInRight" data-wow-delay="0.3s" data-wow-duration="1.5s">Create.</span>

      </h1>
    </div>
    <div class="row">
      <!--carousel ---->
      <div class=" col-xl-3 col-lg-3 col-md-3 col-sm-3 text-center mr-auto">
      </div>
      <div class="col col-10 col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <article class="box">
          <div id="carousel1_indicator" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">
              <div class="carousel-item active">
                <!--<img class="d-block w-50" src="../../assets/img/buisness.jpg" alt="First slide">-->
                <div class="d-block w-100 carousel-text">Our Single Page Apps significant speeds allow us a competitive
                  edge, as speed is one of the main metrics assessed by Google Go Rankings. </div>
              </div>
              <div class="carousel-item">
                <!---  <img class="d-block w-50" src="../../assets/img/owners.jpg" alt="second slide">-->
                <div class="d-block w-100 carousel-text">Our Marketing Teams experience with enterprise level firms
                  allows us to offer ground breaking strategies without the astronomical fees. </div>

              </div>
              <div class="carousel-item">
                <!---  <img class="d-block w-50" src="../../assets/img/computer.jpg" alt="third slide">  -->
                <div class="d-block w-100 carousel-text">Our Design Team goes beyond just looking pretty, with
                  expertise in the science of consumer psychology which they employ in their design. </div>

              </div>
              <div class="carousel-item">
                <!--   <img class="d-block w-50" src="../../assets/img/smarthome.jpg" alt="fourth slide">  -->
                <div class="d-block w-100 carousel-text">Simply put, ImagineTech has honed the techniques used by the
                  giants, in order to help any business, small or large, THRIVE, without the huge overhead.</div>

              </div>
            </div>

          </div>
        </article>
        <div class="container-2  wow flipInX" data-wow-delay="0.3s" data-wow-duration="1.5s">
          <div class="btn btn-two">
            <a routerLink="/contact"><span id="contact">Request Free Estimate </span></a>
          </div>
        </div>


      </div>
      <!--social links-->
      <div class="col col-1 col-xl-1 col-lg-1 col-md-1 col-sm-1">
        <span class="fa-stack">
          <div><i class="fa fa-border fa-twitter fontcircle" id="twitter"></i></div>
          <div><a href="https://www.facebook.com/imaginetechengineering/" target="_blank" id="face-link"><i class="fa fa-border fa-facebook fontcircle"
                id="facebook"></i></a></div>
          <div><a href="https://www.linkedin.com/company/imaginetechengineering/about/" target="_blank" id="linkedin-link"><i
                class="fa fa-border fa-linkedin fontcircle" id="linkedin"></i></a></div>

        </span>


      </div>

    </div>

  </div>
</section>
<section class="main-service">
  <app-main-services></app-main-services>
</section>


