
/*Headings */
.section-intro{
  padding:3%;
}
.container{
  width:100%;
  height:100%;
  margin-top:50px;
  margin-right: 0px;
}

h1{
  font-weight: bold;
  font-family: 'Oswald','sans-serif';
  padding-bottom: 5%;
}
/* Background*/
.bg{
  background: #fff url("/assets/img/sectionbg.png")no-repeat top right;
  background-size:cover;
  border-bottom: 3px solid rgb(51, 152, 255);
  margin-top:20px;
  padding-top:20px;

}
.hero-text{
  color:rgb(0, 98, 204);
  text-align: justify;
  line-height: 2rem;
}

.hline-bottom {
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(0, 98, 204); /* whichever color you prefer */
}




/* CTA */

@media only screen and (max-width: 700px){
  .section-intro {
    padding-bottom:20%;
  }
}