<section class="section-intro bg  text-center">
    <div class="container d-flex flex-column"  style="min-height:80vh;">
        <div class="col-lg-8 col-sm-12 text-left mx-auto">
            <h1 class="display-10 mb-5 hline-bottom">Backend Technologies</h1>
        </div>
    <div class="row">
    <div class="col-lg-8 col-sm-12 text-left mx-auto">
        <p class="hero-text">Back-end is the technology that lets your website to do far more than look pretty. With sound back-end logic, the possibilities are endless. You can build an eCommerce website, or add a virtual assistant, 
            perhaps even show your clients the weather in different parts of the world. Back-end can take you as far as your capacity to imagine.</p>
    </div>
  </div>
  
  
    </div>
    </section>
