<!--<section class="section-intro bg  text-center">
  <div class="container d-flex flex-column"  style="min-height:80vh;">
      <div class="col-lg-8 col-sm-12 text-left mx-auto">
          <h1 class="display-4 mb-3 hline-bottom">Our Gems</h1>
      </div>
  <div class="row">
  <div class="col-lg-8 col-sm-12 text-left mx-auto">
    <div>
        <ul id="hero-grid" class="clear">
              <li>
                  <div class="hero-hexagon">
                      <img src="../../assets/img/sample/ceo.jpg" id="img1">
                      <div class="overlay"></div>


                  </div>
              </li>  
        </ul>
    </div>
  
 
<div>

  <ul id="grid" class="clear">
      <li class="firstSquare">
        <div class="hexagon">
          <img src="../../assets/img/sample/samplel-1.jpg" id="img1">
          <div class="overlay"></div>

        </div>
      </li>
      <li class="firstSquare">
          <div class="hexagon">
              <img src="../../assets/img/sample/samplel-2.jpg" id="img1">
              <div class="overlay"></div>

          </div>
      </li>
      <li class="firstSquare">
            <div class="hexagon">
                <img src="../../assets/img/sample/samplel-3.jpg" id="img1">
                <div class="overlay"></div>


            </div>
      </li>
      <li class="firstSquare">
            <div class="hexagon">
                <img src="../../assets/img/sample/samplem-1.jpg" id="img1">
                <div class="overlay"></div>


            </div>
      </li>
      <li class="firstSquare">
            <div class="hexagon">
                <img src="../../assets/img/sample/samplem-2.jpg" id="img1">
                <div class="overlay"></div>


            </div>
        </li> 
        <li class="firstSquare">
            <div class="hexagon">
                <img src="../../assets/img/sample/samplel-4.jpg" id="img1">
                <div class="overlay"></div>

            </div>
        </li>  
  </ul>
</div>
</div>
</div>
</div>
  </section>-->

  <section class="bg">
      <div class="container d-flex flex-column"  style="min-height:80vh;">
          <div class="col-lg-8 col-sm-12 text-left mx-auto">
              <h1 class="display-4 mb-3 hline-bottom">Our Gems</h1>
          </div>
      <div class="row">
      <div class="col-lg-8 col-sm-12 text-left mx-auto">
          <ul id="categories" class="clr">
              <li class="pusher"></li>
                <li>
                  <div>
                    <img src="../../assets/img/sample/ceo.jpg"   alt=""/>
                    <h1>CEO</h1>
                    <p>Managing projects</p>
                </div>
              </li>
              <li class="pusher"></li>
                <li>
                  <div>
                    <img src="../../assets/img/sample/samplel-1.jpg" alt=""/>
                    <h1>This is a title a bit longer</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
              </li>
              <li class="pusher"></li>
                <li>
                  <div>
                    <img src="../../assets/img/sample/samplel-2.jpg" alt=""/>
                    <h1>This is a title a bit longer</h1>
                    <p>Some sample text about the article this hexagon leads to</p>
                </div>
              </li>
              <li class="pusher"></li>
              <li>
                <div>
                  <img src="../../assets/img/sample/samplem-1.jpg" alt=""/>
                  <h1>This is a title a bit longer</h1>
                  <p>Some sample text about the article this hexagon leads to</p>
              </div>
            </li>
              </ul>
        </div>
        </div>
        </div>
      </section>  
