.img-bg{
  padding:4%;
  background-color: black;
}
img{
  position: relative;
  vertical-align: center;
  bottom:122px;
  justify-content: center;
}
.img-text{
  color:#fff;
  font-family: 'Roboto','sans-serif';
  line-height: 1rem;
  font-weight: 200;
  font-size: 1 rem;
  text-align: center;
  text-decoration: none;
  position:relative;
  bottom:100px;
  margin-bottom: 3%;
  padding-bottom: 3%;
}
.img-wrap img:hover{
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
}

