
        <!--<div class="img-bg">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">
                <a routerLink="/market"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/brain-storm.png" ></div>
                <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">Marketing and Research</p></a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">
                <a routerLink="/react"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/idea.png" ></div>
                <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">Single Page React Applications</p></a>


              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 img-alignment">
                  <a routerLink="/userExp"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/head.png" ></div>
                  <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">User Experience And Interface Design</p></a>


                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">-->
                 <!--  <a routerLink="backend"><div class="service-img img-wrap col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/web-design.png" width=100% padding-bottom=300%></div>-->
    <!---               <a routerLink="backend"><div class="service-img img-wrap col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/web-design.png" width=100% padding-bottom=300%></div>
                    <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">BackEnd Technologies</p></a>


                  </div>
          </div>
    </div>-->
   

      <!--<div class="img-bg">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">
                <a routerLink="/market"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/brain-storm.png" ></div>
                <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">Marketing and Research</p></a>

            </div>
            <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">
                <a routerLink="/react"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/idea.png" ></div>
                <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">Single Page React Applications</p></a>


              </div>
              <div class="col-lg-3 col-md-6 col-sm-12 img-alignment">
                  <a routerLink="/userExp"><div class=" col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/head.png" ></div>
                  <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">User Experience And Interface Design</p></a>


                </div>
                <div class="col-lg-3 col-md-6 col-sm-12  img-alignment">-->
                 <!--  <a routerLink="backend"><div class="service-img img-wrap col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/web-design.png" width=100% padding-bottom=300%></div>-->
    <!---               <a routerLink="backend"><div class="service-img img-wrap col-xs-12 col-sm-4 col-md-3 col-lg-3"><img  class="rounded mx-auto d-block" src="../../assets/icons/newIcons/web-design.png" width=100% padding-bottom=300%></div>
                    <p class="service-img-text col-xs-12 col-sm-12 col-md-4 col-lg-6">BackEnd Technologies</p></a>


                  </div>
          </div>
    </div>-->
   <div class="container-fluid bg">
       <div class="row text-center">
           <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-3 p-4">
                <a routerLink="/market"><img class="service-icon" id="brain-storm" src="../../assets/icons/newIcons/brain-storm.png" width=160px height=160px></a>
                <label class="col  col-xl-12 col-lg-6 col-sm-6 col-md-6 service-img-text">Marketing And Research</label>
           </div>
          

           <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-3 p-4">
                <a routerLink="/react"><img  class="service-icon" src="../../assets/icons/newIcons/idea.png" width=160px height=160px></a>
                <label class="col col-xl-12 col-lg-6 col-sm-6 col-md-6 service-img-text">Single Page React Applications</label>
           </div>
           <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-3 p-4">
                <a routerLink="/userExp"><img  class="service-icon"src="../../assets/icons/newIcons/head.png" width=160px height=160px></a>
                <label class="col col-xl-12 col-lg-6 col-sm-6 col-md-6 service-img-text">User Experience And Interface design</label>

           </div>
           <div class="col col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-3 p-4">
                <a routerLink="/backend"><img  class="service-icon" src="../../assets/icons/newIcons/web-design.png" width=160px height=160px></a>
                <label class="col col-xl-12 col-lg-6 col-sm-6 col-md-6 service-img-text">Backend Technologies</label>

           </div>
       </div>
   </div>



