
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-6 img-bg">
        <div class="row">
            <div class="col-md-3 col-sm-12 text-center">
                <a routerLink="market"><div class="img-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3"><img  src="../../assets/icons/newIcons/brain-storm.png" width=220% height=220%></div>
                <p class="img-text col-xs-6 col-sm-6 col-md-6 col-lg-6">Marketing and Research</p></a>

            </div>
            <div class="col-md-3 col-sm-12 text-center">
                <a routerLink="react"><div class="img-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3"><img  src="../../assets/icons/newIcons/idea.png" width=220% height=220%></div>
                <p class="img-text col-xs-6 col-sm-6 col-md-6 col-lg-6">Single Page React Applications</p></a>


              </div>
              <div class="col-md-3 col-sm-12 text-center">
                  <a routerLink="userExp"><div class="img-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3"><img  src="../../assets/icons/newIcons/head.png" width=220% height=220%></div>
                  <p class="img-text col-xs-6 col-sm-6 col-md-6 col-lg-6">User Experience And Interface Design</p></a>


                </div>
                <div class="col-md-3 col-sm-12 text-center">
                    <a routerLink="backend"><div class="img-wrap col-xs-6 col-sm-6 col-md-3 col-lg-3"><img  src="../../assets/icons/newIcons/web-design.png" width=220% height=220%></div>
                    <p class="img-text col-xs-6 col-sm-6 col-md-6 col-lg-6">BackEnd Technologies</p></a>


                  </div>
          </div>
    </div>
