

.bg{
    background-color: black;
}
a>img{
    position: relative;
    top: -57%;
}
.service-img-text{
  color:#fff;
  font-family: 'Oswald','sans-serif';
  line-height: 1rem;
  font-weight: 200;
  font-size: 1 rem;
  text-decoration: none;
  top:-50%;
}


 